PORT=3000
DATABASE_URL="mysql://root:rootpassword@localhost:3306/al_khbaraa"

JWT_ACCESS_SECRET="super-secret-access-token-key-change-in-prod"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_SECRET="super-secret-refresh-token-key-change-in-prod"
JWT_REFRESH_EXPIRATION="7d"

THROTTLER_TTL=60
THROTTLER_LIMIT=100
